@inject GameManager _gameManager

<div class="game-container" tabindex="0" @onclick="_gameManager.StartGame" @onkeyup="_gameManager.Jump">
    <div class="sky">
        <Bird Model="_gameManager.Bird" />
    </div>
    <div class="ground"></div>
    <Pipe Model="_gameManager.Pipe" />
</div>

@code {
    protected override void OnInitialized()
    {
        _gameManager.MainLoopCompleted += (o, e) => StateHasChanged();
    }
}